body {
  background-color: rgb(133, 133, 134);
}

#fondo {
  width: 1366px;
  height: 788px;
  background-image: url(imagenes/marco1.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 5px 150px;
}
/* IMAGEN DEL PORTATIL*/
.img1 {
  position: absolute;
  top: 400px;
  right: 370px;
  transform: rotate(-10deg);
  padding: 10px 10px 10px 10px;
  background-color: white;
  box-shadow: 10px 10px 10px 10px #aaaaaa;
}
/* IMAGEN DEL MAR*/
.img2 {
  position: absolute;
  top: 54%;
  left: 55%;
  transform: translateY(-10%);
  transform: rotate(15deg);
  padding: 10px 10px 10px 10px;
  border: 1px gradient #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 10px 10px #aaaaaa;
}
/* IMAGEN DEL PERRITO*/
.img3 {
  position: absolute;
  top: 400px;
  left: 700px;
  transform: rotate(-9deg);
  padding: 10px 10px 10px 10px;
  border: 1px gradient #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 10px 10px #aaaaaa;
}
/* IMAGEN DE LA MONTAÑA NEVADA*/
.img4 {
  position: absolute;
  top: 20%;
  left: 65%;
  transform: rotate(-10deg);
  padding: 10px 10px 10px 10px;
  border: 1px gradient #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 10px 10px #aaaaaa;
}
/* IMAGEN DE LA RUEDA DE CARRO*/
.img5 {
  position: absolute;
  top: 22%;
  left: 45%;
  transform: translateY(20%);
  transform: rotate(15deg);
  padding: 10px 10px 10px 10px;
  border: 1px gradient #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 10px 10px #aaaaaa;
  z-index: 1;
}
/* IMAGEN DEL BOSQUE NEVADO*/
.img6 {
  position: absolute;
  top: 170px;
  left: 55%;
  transform: translateX(-25%);
  transform: rotate(10deg);
  padding: 10px 10px 10px 10px;
  border: 1px gradient #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 10px 10px #aaaaaa;
  z-index: 1;
}
/*IMAGEN DE LA CARRETERA*/
.img7 {
  position: absolute;
  top: 22%;
  left: 33%;
  transform: rotate(-10deg);
  padding: 10px 10px 10px 10px;
  border: 1px gradient #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 10px 10px #aaaaaa;
}
/*IMAGEN DE LA PLAYA*/
.img8 {
  position: absolute;
  top: 165px;
  left: 22%;
  transform: translateX(-25%);
  transform: rotate(10deg);
  padding: 10px 10px 10px 10px;
  border: 1px gradient #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 10px 10px #aaaaaa;
  z-index: 1;
}
/*IMAGEN DE CASA EN BLANCO Y NEGRO*/
.img9 {
  position: absolute;
  top: 55%;
  left: 33%;
  transform: rotate(10deg);
  padding: 10px 10px 10px 10px;
  border: 1px gradient #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 10px 10px #aaaaaa;
  z-index: 2;
}
/*IMAGEN DE FUEGOS ARTIFICIALES*/
.img10 {
  position: absolute;
  top: 55%;
  left: 23%;
  transform: rotate(-10deg);
  padding: 10px 10px 10px 10px;
  border: 1px gradient #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 10px 10px #aaaaaa;
  z-index: -0;
}
footer {
  font-style: oblique;
  text-align: center;
  font-size: 25px;
  text-shadow: 2px 2px rgb(255, 255, 255);
  padding: 3px;
  border: 1px groove rgb(191, 191, 191);
  background-color: rgba(7, 7, 7, 0.514);
  box-shadow: 10px 10px 10px 10px #aaaaaa;
  color: rgb(1, 2, 41);
  position: absolute;
  top: 90%;
  left: 40%;
}